<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="robot-assembly-2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.434320411787011 0.644967241561405 1.31922887815084"
        rpy="0 0 0" />
      <mass
        value="0.17734978279826" />
      <inertia
        ixx="0.00288269610938267"
        ixy="-2.5804742698403E-06"
        ixz="-8.01724357517047E-06"
        iyy="0.0038798947334464"
        iyz="1.08325133278873E-08"
        izz="0.0010088718835386" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot-assembly-2/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot-assembly-2/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="-0.0258531276094993 -0.00680820573011154 0.0126507305472758"
        rpy="0 0 0" />
      <mass
        value="0.177350383410163" />
      <inertia
        ixx="0.0031215103277362"
        ixy="-0.000307921926983507"
        ixz="-0.000658327715827354"
        iyy="0.00408626563972205"
        iyz="0.000150675218302736"
        izz="0.00209825677327247" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot-assembly-2/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot-assembly-2/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder"
    type="revolute">
    <origin
      xyz="0.4631 -1.3191 0.65178"
      rpy="1.5708 0 -0.45079" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="0.00423008642461409 -0.0600047605857038 -0.218687929183889"
        rpy="0 0 0" />
      <mass
        value="0.177350383410163" />
      <inertia
        ixx="0.00302421723214045"
        ixy="-0.000306280261461995"
        ixz="0.000735315793672287"
        iyy="0.00407248101453135"
        iyz="-0.000179943748886637"
        izz="0.00220933449405892" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot-assembly-2/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot-assembly-2/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow"
    type="revolute">
    <origin
      xyz="0.15539 0.051102 0.13611"
      rpy="-0.016069 0.98738 -0.031062" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>