<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="scara">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.029504 -0.0075291 -0.00013315"
        rpy="0 0 0" />
      <mass
        value="0.17735" />
      <inertia
        ixx="0.0028827"
        ixy="-2.5805E-06"
        ixz="-8.0172E-06"
        iyy="0.0038799"
        iyz="1.0833E-08"
        izz="0.0010089" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="-0.022525 -0.0033417 0.010539"
        rpy="0 0 0" />
      <mass
        value="0.1852" />
      <inertia
        ixx="0.0032284"
        ixy="-0.00038271"
        ixz="-0.00061521"
        iyy="0.0041764"
        iyz="0.00018292"
        izz="0.0022412" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 0 -0.44269" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="0.0063696 -0.055756 -0.21658"
        rpy="0 0 0" />
      <mass
        value="0.1852" />
      <inertia
        ixx="0.003131"
        ixy="-0.00037655"
        ixz="0.00069665"
        iyy="0.0041594"
        iyz="-0.00022123"
        izz="0.0023556" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow"
    type="revolute">
    <origin
      xyz="0.15462 0.05041 0.13618"
      rpy="-0.015862 0.97874 -0.030813" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="gripper">
    <inertial>
      <origin
        xyz="0 0 -0.040849"
        rpy="0 0 0" />
      <mass
        value="0.007854" />
      <inertia
        ixx="6.5941E-06"
        ixy="2.1176E-22"
        ixz="2.2739E-22"
        iyy="6.5941E-06"
        iyz="-1.7078E-21"
        izz="9.8175E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara/meshes/gripper.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://scara/meshes/gripper.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gripper_linear"
    type="prismatic">
    <origin
      xyz="0.094697 0 -0.16386"
      rpy="1.5708 1.5021 0" />
    <parent
      link="link_2" />
    <child
      link="gripper" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>